* {
    box-sizing: border-box;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
}

header {
    background-color:#ffffff;
    border-bottom: 20px;
    border-bottom-color: #cccccc;
    height: 100px;
}


h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: 700;
    color: #ffffff;
    background-color: #4aaaa5;
    height: 100px;
    text-align: center;  
    padding: 32.5px 10px;
    float: left;
}

.name-nav {
    width: 960px;
    margin: 0 auto 0 auto;
    background-color: #ffffff

}

ul {
    padding: 32.5px 10px;
}
.nav-list {
    float: right;
    margin-top: 10px;
}

li {
    display: inline;
    border-right: #777777   
}

a {
    color: #777777;
    text-decoration: none;
    font-size: 20px;
}

.nav-item::after {
    color: lightgray;
    content: '|';
    font-size: 20px;
    font-weight: bold;
    padding: 0 3px;
}
.nav-item3::after {
    color: lightgray;
    font-size: 20px;
    font-weight: bold;
    padding: 0 3px;
}

.form {
    float: left;
    margin: 60px 15px;
    width: 980px;
    font-size: 20px;
    color: #777777;
}

.name-input {
    height: 40px;
    width: 100%;
}

.email {
    height: 40px;
    width: 100%;
}

.message {
    height: 300px;
    width: 100%;
}

.submit {
    background-color: #4aaaa5;
    border: none;
    color: #ffffff;
    padding: 10px 32px;
    font-size: 20px;
}


a:hover {
    color: #4aaaa5;
}

a:focus {
    color: #777777;
}

a:active {
    color: #777777
}

#image1 {
    float: left;
    margin: 60px 15px;
}


#portf1 {
    float: left;
    margin: 60px 15px 15px 15px;
    clear: right;
}

#portf2 {
    float: left;
    margin: 60px 350px 15px 15px;
    clear: right;
}
#portf3 {
    float: left;
    margin: 30px 15px 15px 15px;
    clear: right;
}

#portf4 {
    float: left;
    margin: 30px 350px 15px 15px;
    clear: right;
}

#portf5 {
    float: left;
    margin: 30px 15px;
    clear: right;
}




.content {
    margin: 40px auto 20px auto;
    display: inline-block;
    background-color: #ffffff;

}
.about-me {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: 700;
    height: 25px;
    width: 140px;
    text-align: center;
    padding-top: 30px;
    padding-left: 10px;
}

#text {
    padding: 60px;
    height: 750px;
}
.background {
    background-image: url("../images/concrete-texture.png");
}

footer {
    text-align: center;
    height: 100px;
    background-color: #666666;
    color: #cccccc;
    padding-top: 80px;
}
